<div>
  <div class="p-12 shadow w-80 rounded-lg border border-{{.color}}-300 p-10">
    <div class="grid grid-cols-2">
      <div>
        <p class="font-bold text-{{.color}}-500">{{.title}}</p>
        <p class="text-gray-500 dark:text-gray-300 text-xl font-bold">
          {{.stat}}
        </p>
      </div>
      <div class="flex w-full justify-end items-center text-{{.color}}-500">
        <div>
          {{if eq .icon "bars"}}
          <div>{{ partial "status-icons/bars.html" (dict "size" 10) }}</div>
          {{else if eq .icon "cloud"}}
          <div>{{ partial "status-icons/cloud.html" (dict "size" 10) }}</div>
          {{else if eq .icon "failed"}}
          <div>
            {{ partial "status-icons/failed-outline.html" (dict "size" 10) }}
          </div>
          {{else if eq .icon "passed"}}
          <div>
            {{ partial "status-icons/passed-outline.html" (dict "size" 10) }}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
