<div class="w-full">
  <h2 class="mb-2 text-md font-small text-gray-900 dark:text-gray-500">
    {{ .title }} Test - {{.scenario.name}}
  </h2>
  <ul class="space-y-1 w-full list-inside text-gray-500 dark:text-white">
    {{range $index, $step := .scenario.steps}} {{if ne $step.hidden true}}
    <li class="flex items-center text-md overflow-auto whitespace-nowrap">
      {{ if eq $step.result.status "passed" }} {{partial
      "status-icons/passed.html" (dict "size" "4")}} {{ else if eq
      $step.result.status "failed" }} {{partial "status-icons/failed.html" (dict
      "size" "4")}} {{ else if eq $step.result.status "skipped" }} {{partial
      "status-icons/skipped.html" (dict "size" "4")}} {{ else if eq
      $step.result.status "pending" }} {{partial "status-icons/pending.html"
      (dict "size" "4")}} {{ else if eq $step.result.status "undefined" }} {{
      partial "status-icons/undefined.html" (dict "size" "4")}} {{end}}
      {{$step.keyword}} {{$step.name}}
    </li>
    {{ partial "step/undefined.html" (dict "status" $step.result.status "name"
    $step.name "keyword" $step.keyword ) }} {{ partial "step/arguments.html"
    (dict "arguments" $step.arguments)}} {{ partial "step/error-message.html"
    (dict "error_message" $step.result.error_message)}} {{end}} {{end}}
  </ul>
</div>
